{% extends 'base/form.html' %}

{% block form_title %}{% if object %}Edit Attendee{% else %}New Attendee{% endif %}{% endblock form_title %}
{% block form_heading %}{% if object %}Edit Attendee{% else %}New Attendee{% endif %}{% endblock form_heading %}
{% block submit_label %}{% if object %}Save Attendee{% else %}Create Attendee{% endif %}{% endblock submit_label %}
{% block cancel_url %}{% url 'attendees:index' %}{% endblock cancel_url %}
{% block cancel_url_bottom %}{% url 'attendees:index' %}{% endblock cancel_url_bottom %}
